.root {
  height: 4728px;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}

.image144 {
  width: 1921px;
  height: 304px;
  position: absolute;
  left: 0;
  top: 4424px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image144.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image14 {
  width: 1921px;
  height: 1080px;
  position: absolute;
  left: -1px;
  top: 0;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 46px;
  height: 48px;
  align-items: flex-start;
  position: absolute;
  left: 180px;
  top: 58px;
}

.group4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}

.home {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 435px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.home:hover,
.home2:hover,
.services:hover,
.services2:hover,
.works:hover,
.works2:hover,
.contacts:hover,
.contacts2:hover {
  color: #b41f56;
  cursor: pointer;
}

.services {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 614px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.works {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 813px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.contacts {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 994px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.logIn {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1529px;
  top: 72px;
  white-space: nowrap;
  width: 108px;
  height: 32px;
  display: block;
  transition: all .5s linear;
}

.unnamed {
  width: 1px;
  height: 15px;
  background-color: white;
  position: absolute;
  left: 1429px;
  top: 81px;
}

.eng {
  color: #b41f56;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1437px;
  top: 78px;
  white-space: nowrap;
}

.eng:hover {
  cursor: pointer;
}

.unnamed2 {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1390px;
  top: 78px;
  white-space: nowrap;
  transition: all .3s linear;
}

.unnamed2:hover {
  color: #b41f56;
  cursor: pointer;
}

.signUp {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  width: 108px;
  height: 32px;
  position: absolute;
  left: 1637px;
  top: 72px;
  background-color: #b41f56;
  display: block;
}

.mARKETING {
  color: #f5f5f5;
  font-size: 96px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 685px;
  height: 57px;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 618px;
  top: 361px;
}

.promotionToTheMaxFacebookAndIn {
  color: #363636;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 618px;
  height: 148px;
  position: absolute;
  left: 308px;
  top: 2188px;
}

.reactiveSEOPromotionAndSiteOpt {
  color: #363636;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 618px;
  height: 148px;
  position: absolute;
  left: 308px;
  top: 3550px;
}

.effectiveSMMForEffectiveProjec {
  color: #363636;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 526px;
  height: 93px;
  position: absolute;
  left: 923px;
  top: 2885px;
}

.sAMKOVDESIGN {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 908px;
  top: 4518px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.logo2 {
  transform-origin: top left;
  width: 46px;
  height: 48px;
  align-items: flex-start;
  position: absolute;
  left: 938px;
  top: 4463px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.group42 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}

._2021AllRightsReserved {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 831px;
  top: 4658px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.home2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 645px;
  top: 4606px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.services2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 825px;
  top: 4606px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.works2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1022px;
  top: 4606px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.contacts2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1204px;
  top: 4606px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.ellipse1 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1854px;
  top: 1139px;
  overflow: visible;
}

.ellipse2 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1854px;
  top: 1167px;
  overflow: visible;
}

.ellipse3 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1854px;
  top: 1195px;
  overflow: visible;
}

.vector1 {
  width: 2px;
  max-width: 100%;
  height: 127.5px;
  max-height: 100%;
  position: absolute;
  left: 1862px;
  top: 1235px;
  overflow: visible;
}

.ellipse12 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 207.4999px;
  top: 1863.9999px;
  overflow: visible;
}

.ellipse22 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 179.4999px;
  top: 1863.9999px;
  overflow: visible;
}

.ellipse32 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 151.4999px;
  top: 1863.9999px;
  overflow: visible;
}

.vector12 {
  width: 2px;
  max-width: 100%;
  height: 2px;
  max-height: 100%;
  position: absolute;
  top: 1871.9999px;
  overflow: visible;
}

.ellipse13 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1696px;
  top: 2724px;
  overflow: visible;
}

.ellipse4 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 208.4999px;
  top: 3452.9999px;
  overflow: visible;
}

.ellipse7 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1696px;
  top: 4226px;
  overflow: visible;
}

.ellipse23 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1724px;
  top: 2724px;
  overflow: visible;
}

.ellipse5 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 180.4999px;
  top: 3452.9999px;
  overflow: visible;
}

.ellipse8 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1724px;
  top: 4226px;
  overflow: visible;
}

.ellipse33 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1752px;
  top: 2724px;
  overflow: visible;
}

.ellipse6 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 152.4999px;
  top: 3452.9999px;
  overflow: visible;
}

.ellipse9 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1752px;
  top: 4226px;
  overflow: visible;
}

.vector13 {
  width: 2px;
  max-width: 100%;
  height: 2px;
  max-height: 100%;
  position: absolute;
  left: 1792px;
  overflow: visible;
}

.vector2 {
  width: 2px;
  max-width: 100%;
  height: 2px;
  max-height: 100%;
  position: absolute;
  top: 3460.9999px;
  overflow: visible;
}

.vector3 {
  width: 2px;
  max-width: 100%;
  height: 2px;
  max-height: 100%;
  position: absolute;
  left: 1792px;
  overflow: visible;
}

.weCreateImplementAndLaunchAdve {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 717px;
  top: 451px;
  white-space: nowrap;
}

.rectangle25 {
  width: 223px;
  height: 60px;
  position: absolute;
  left: 691px;
  top: 612px;
  background-image: linear-gradient(180deg, #b82c60 0%, #9b2450 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.contact {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  white-space: nowrap;
  width: 223px;
  height: 60px;
  position: absolute;
  left: 691px;
  top: 612px;
  background-image: linear-gradient(180deg, #b82c60 0%, #9b2450 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle26 {
  width: 223px;
  height: 60px;
  position: absolute;
  left: 1007px;
  top: 612px;
  background-color: #fff;
}

.consultation {
  color: #363636;
  font-size: 24px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1040px;
  top: 627px;
  white-space: nowrap;
}

.targetedAdvertisingWithMaximum {
  color: #363636;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 308px;
  top: 1423px;
  white-space: nowrap;
}

.weDetermineTheBestAdvertisingC {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 308px;
  top: 1523px;
  white-space: nowrap;
}

.brandCompanyPromotionSaleOfGoo {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 308px;
  top: 2348px;
  white-space: nowrap;
}

.analysisOfThePositionOfTheSite {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 308px;
  top: 3710px;
  white-space: nowrap;
}

.brandMarketingCreationOfTextAn {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 926px;
  top: 3029px;
  white-space: nowrap;
}

.image159 {
  width: 479px;
  height: 638px;
  position: absolute;
  left: 1100px;
  top: 1299px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image159.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image160 {
  width: 356px;
  height: 503px;
  position: absolute;
  left: 1089px;
  top: 2127px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image160.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image161 {
  width: 356px;
  height: 503px;
  position: absolute;
  left: 308px;
  top: 2808px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image161.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image163 {
  width: 356px;
  height: 503px;
  position: absolute;
  left: 1089px;
  top: 3489px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image163.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}