.root {
  height: 3362px;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  position: relative;
  background-color: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}

.image147 {
  width: 305px;
  height: 663px;
  position: absolute;
  left: 1364px;
  top: 1293px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image147.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 0px 4px #00000040);
}

.image144 {
  width: 1921px;
  height: 304px;
  position: absolute;
  left: -1px;
  top: 3058px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image144.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image14 {
  width: 1921px;
  height: 1080px;
  position: absolute;
  left: -1px;
  top: 0;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 46px;
  height: 48px;
  align-items: flex-start;
  position: absolute;
  left: 180px;
  top: 58px;
}

.group4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}

.home {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 435px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.home:hover,
.home2:hover,
.services:hover,
.services2:hover,
.works:hover,
.works2:hover,
.contacts:hover,
.contacts2:hover {
  color: #b41f56;
  cursor: pointer;
}

.services {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 614px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.works {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 813px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.contacts {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 994px;
  top: 76px;
  white-space: nowrap;
  transition: all .3s linear;
}

.logIn {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1529px;
  top: 72px;
  white-space: nowrap;
  width: 108px;
  height: 32px;
  display: block;
  transition: all .5s linear;
}

.unnamed {
  width: 1px;
  height: 15px;
  background-color: white;
  position: absolute;
  left: 1429px;
  top: 81px;
}

.eng {
  color: #b41f56;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1437px;
  top: 78px;
  white-space: nowrap;
}

.eng:hover {
  cursor: pointer;
}

.unnamed2 {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1390px;
  top: 78px;
  white-space: nowrap;
  transition: all .3s linear;
}

.unnamed2:hover {
  color: #b41f56;
  cursor: pointer;
}

.signUp {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  width: 108px;
  height: 32px;
  position: absolute;
  left: 1637px;
  top: 72px;
  background-color: #b41f56;
  display: block;
}

.wEBDesign {
  color: #f5f5f5;
  font-size: 96px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 685px;
  height: 57px;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 618px;
  top: 361px;
}

.label {
  color: #363636;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.label2 {
  color: #363636;
  font-size: 48px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.labelWrapper {
  font-size: 48px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}

.weCreateMaintainAndPromoteWebs {
  width: 558px;
  height: 92px;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 681px;
  top: 2224px;
}

.sAMKOVDESIGN {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 907px;
  top: 3152px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.logo2 {
  transform-origin: top left;
  width: 46px;
  height: 48px;
  align-items: flex-start;
  position: absolute;
  left: 937px;
  top: 3097px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.group42 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}

._2021AllRightsReserved {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 830px;
  top: 3292px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.home2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 644px;
  top: 3240px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.services2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 824px;
  top: 3240px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.works2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1021px;
  top: 3240px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.contacts2 {
  transform-origin: top left;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1203px;
  top: 3240px;
  white-space: nowrap;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all .3s linear;
}

.oNLINESHOP {
  color: #363636;
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 176px;
  height: 34px;
  position: absolute;
  left: 336px;
  top: 2416px;
}

.cORPORATEWEBSITE {
  color: #363636;
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 288px;
  height: 33px;
  position: absolute;
  left: 749px;
  top: 2417px;
}

.wEBSITEBUSINESSCARD {
  color: #363636;
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 333px;
  height: 34px;
  position: absolute;
  left: 336px;
  top: 2670px;
}

.sITECATALOGPORTAL {
  color: #363636;
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 309px;
  height: 34px;
  position: absolute;
  left: 1274px;
  top: 2416px;
}

.sUPPORT {
  color: #363636;
  font-size: 24px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 125px;
  height: 34px;
  position: absolute;
  left: 749px;
  top: 2670px;
}

.ellipse1 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1854px;
  top: 1139px;
  overflow: visible;
}

.ellipse2 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1854px;
  top: 1167px;
  overflow: visible;
}

.ellipse3 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1854px;
  top: 1195px;
  overflow: visible;
}

.vector1 {
  width: 2px;
  max-width: 100%;
  height: 127.5px;
  max-height: 100%;
  position: absolute;
  left: 1862px;
  top: 1235px;
  overflow: visible;
}

.ellipse12 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 207.4999px;
  top: 1863.9999px;
  overflow: visible;
}

.ellipse22 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 179.4999px;
  top: 1863.9999px;
  overflow: visible;
}

.ellipse32 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 151.4999px;
  top: 1863.9999px;
  overflow: visible;
}

.vector12 {
  width: 2px;
  max-width: 100%;
  height: 2px;
  max-height: 100%;
  position: absolute;
  top: 1871.9999px;
  overflow: visible;
}

.ellipse13 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1696px;
  top: 2724px;
  overflow: visible;
}

.ellipse23 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1724px;
  top: 2724px;
  overflow: visible;
}

.ellipse33 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1752px;
  top: 2724px;
  overflow: visible;
}

.vector13 {
  width: 2px;
  max-width: 100%;
  height: 2px;
  max-height: 100%;
  position: absolute;
  left: 1792px;
  overflow: visible;
}

.weDevelopImproveAndPromoteWebs {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 301px;
  top: 451px;
  white-space: nowrap;
}

.rectangle25 {
  width: 223px;
  height: 60px;
  position: absolute;
  left: 691px;
  top: 612px;
  background-image: linear-gradient(180deg, #b82c60 0%, #9b2450 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.contact {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  white-space: nowrap;
  width: 223px;
  height: 60px;
  position: absolute;
  left: 691px;
  top: 612px;
  background-image: linear-gradient(180deg, #b82c60 0%, #9b2450 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle26 {
  width: 223px;
  height: 60px;
  position: absolute;
  left: 1007px;
  top: 612px;
  background-color: #fff;
}

.consultation {
  color: #363636;
  font-size: 24px;
  font-weight: 500;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1040px;
  top: 627px;
  white-space: nowrap;
}

.integrationWithDeliveryService {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 336px;
  top: 2449px;
  white-space: nowrap;
}

.corporateWebsiteOfTheCompanyWi {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 749px;
  top: 2451px;
  white-space: nowrap;
}

.smallSiteBuiltInManagementSyst {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 336px;
  top: 2704px;
  white-space: nowrap;
}

.ensuringTheStableOperationOfTh {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 749px;
  top: 2701px;
  white-space: nowrap;
}

.sophisticatedCatalogingManagem {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1274px;
  top: 2451px;
  white-space: nowrap;
}

.dIGITALFORBUSINESS {
  color: #363636;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 308px;
  top: 1423px;
  white-space: nowrap;
}

.thoughtfulModernDesignDevelopm {
  color: #363636;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 308px;
  top: 1499px;
  white-space: nowrap;
}

.image145 {
  width: 310px;
  height: 663px;
  position: absolute;
  left: 839px;
  top: 1293px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image145.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 0px 4px #00000040);
}

.image146 {
  width: 348px;
  height: 742px;
  position: absolute;
  left: 1076px;
  top: 1253px;
  background-image:
    /* webpackIgnore: true */
    url('../../assets/image146.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 0px 5px #00000040);
}